<footer class="footer">
    <div class="footer-top">
      <div class="footer-left">
        <h3>Mina Halı</h3>
        <p>
          Loom Takip Sistemi, üretim verilerinizi hızlı ve pratik şekilde kaydeder, anlık takip ve detaylı analiz imkanı sunar.  
          Üretim süreçlerinizi optimize etmek için tasarlanmış, Pizza Development imzalı güçlü bir çözümdür.
        </p>
        
      </div>
  
      <div class="footer-center">
        <img src="../../minahalilogoaltinlogo.png" alt="Mina Halı Logo" />
      </div>
  
      <div class="footer-right">
        <h4>Navigasyon</h4>
        <ul>
          <li><a href="../../index.html">Veri Girişi</a></li>
          <li><a href="../../analiz.html">Analiz</a></li>
        </ul>
      </div>
    </div>
  
    <hr class="footer-divider" />
  
    <div class="footer-bottom">
      &copy; <span id="currentYear"></span> <a href="http://pizzadevelopment.net" style="color: inherit; text-decoration: none;">Pizza Development</a> 
    </div>
  </footer>
  